doctype html 
html
    head
        style
            include ../public/style.css
        
    body
        div.menucontainer
            ul.navbar
                li 
                    a("href"="/") Home
                li
                    a("href"="/ourservice") ourService
                li 
                    a("href"="contactus") contactUs